[packages]
flask = "*"
invoke = "*"
paramiko = "*"
key_creator = {editable = true, path = "."}

[dev-packages]
invoke = '*'
parver = '*'
towncrier = '*'
wheel = '*'
pytest = '*'
pytest-xdist = '*'
pytest-cov = '*'
sphinx = '*'
sphinx-rtd-theme = '*'
key-creator = {path = "."}

[scripts]
release = 'inv release'
tests = "pytest -v tests"
draft = "towncrier --draft"
changelog = "towncrier"
build = "setup.py sdist bdist_wheel"
